<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<style>
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	.img-resize{
		width: 211px;
		height: 211px;
	}
	.glyphicon-star {
	   color: yellow;
	   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	.small-edit{
		font-size:13px;
	}
	.small-edit:hover{
		cursor:grab;
	}

	</style>
	<title>Fringe Finder!</title>
</head>
<body>
<div class="mainDiv container">
		<div class="row">
			<div class="col-sm-2 tmp">
				<div class="row">
					<div class="content">
						<center><img src="{{ url_for('static', filename='img/logo.svg')}}"/></center>
					</div>
				</div>
			</div>
			<div class="col-sm-10" style="margin-top: 20px;">

				<div class="row ">
					<nav class="navbar navbar-default">
					  <div class="container-fluid">			
						<div class="collapse navbar-collapse" id="navigationBar">
						  <ul class="nav navbar-nav">
							<li><a href="/">Home</a></li>
							<li><a href="/shows">Shows</a></li>
							<li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="/categories">Categories <b class="caret"></b></a>
								<ul class="dropdown-menu">
								  <li><a href="/category/comedy">Comedy</a></li>
								  <li><a href="/category/play">Play</a></li>
								  <li><a href="/category/theatre">Theatre</a></li>
								</ul>
							  </li>
							  <li class="dropdown">
								<a data-toggle="dropdown" class="dropdown-toggle" href="/venues">Venues<b class="caret"></b></a>
								<ul class="dropdown-menu">
								  <li><a href="/venue/2">2</a></li>
								  <li><a href="/venue/15">15</a></li>
								  <li><a href="/venue/17">17</a></li>
								</ul>
							  </li>
							 </ul>
						  <span class="navbar-text navbar-right">
						  {% if user %}
							  Hi, {{user}}! (<a href="/logout">logout</a>)
						  {% endif %}
							</span>
						</div>
					  </div>
					</nav> 
				</div>
				
			</div>
		</div>
		{% block content %}
  		{% endblock content %}
	</div>
</body>
<html>