{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading"><label>The Edinburgh Fringe</label></div>
		<div class="panel-body">
			<pre>The world’s greatest platform for creative freedom.</pre>
		</div>
	</div>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading"><label>Useful links!</label></div>
		<div class="panel-body">
			<div class="list-group">										
					<a href="/shows" class="list-group-item list-group-item-action">Edinburgh Fringe Shows!</a>
					<a href="/venues" class="list-group-item list-group-item-action">Edinburgh Fringe Venues!</a>
					<a href="/categories" class="list-group-item list-group-item-action">Performance Categories!</a>
			</div>
		</div>	
	</div>
</div>

{% endblock content%}