{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col-sm-12">
		<form action="/login" method="post">
		  <div class="form-group" >
			<label for="username">Username:</label>
			<input class="form-control" id="username" name="username">
		  </div>
		  <div class="form-group">
			<label for="password">Password:</label>
			<input type="password" class="form-control" id="password" name="password">
		  </div>
		  <div class="checkbox">
			<label><input type="checkbox"> Remember me</label>
		  </div>
		  <button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
</div>

{% endblock content%}