{% extends "base.html" %}
{% block content %}
		<script src="{{ url_for('static', filename='scripts/base.js')}}"></script>
		<div class="row" >
			
			<div class="col-sm-2 tmp">
					
			</div>
			<div class="col-sm-10 tmp">
			{% if showData %}
			<div class="row">
			  
				<div class="panel panel-default">
				  <div class="panel-heading resume-heading" style="border-style:none !important">
					<div class="row">
					  <div class="col-lg-12">
						<div class="col-xs-12 col-sm-4">
						  <figure>
							{% set imgurl = showData[0].img %}
							<img class="img-responsive img-resize" alt="" src="{{ url_for('static', filename='img/')}}{{imgurl}}">
						  </figure>
						 
						</div>

						<div class="col-xs-12 col-sm-8">
							
								
							  <ul class="list-group" style="list-style: none;">
								<li class=" row">
									<div class="col-md-3 list-group-item list-group-item-info">Name</div>
									<div class="col-md-9 list-group-item" id="showNameDiv">{{showData[0].name}}</div>
								</li>
								<li class=" row">
									<div class="col-md-3 list-group-item list-group-item-info">Category</div>
									<div class="col-md-9 list-group-item">{{showData[0].category}}</div>
								</li>
								<li class=" row">
									<div class="col-md-3 list-group-item list-group-item-info">Venue</div>
									<div class="col-md-9 list-group-item"><a id="venueIdHref" href='/venue/{{showData[0].venue}}'>{{showData[0].venue}}</a><span id="venueEdit" class="small-edit">      edit</span></div>
								</li>
								<li class=" row">
									<div class="col-md-3 list-group-item list-group-item-info">Show Times</div>
									<div class="col-md-9 list-group-item">{{showData[0].viewTimes|join(', ')}}</div>
								</li>
								<li class=" row">
									<div class="col-md-3 list-group-item list-group-item-info">Rating</div>
									<div class="col-md-9 list-group-item" id="ratingDiv">{{showData[0].rating}}</div>
								</li>					
							  </ul>
							
						
					  </div>
					</div>
				  </div>
				</div>
			</div>
		
		</div>
			<div class="row"></div>
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading"><label>Description</label></div>
					<div class="panel-body">
						{{showData[0].description}}
					</div>
				</div>

			</div>
			<div class="row">
			
			<div class="panel panel-default">
				<div class="panel-heading"><label>Performers</label></div>
					<div class="panel-body">
						<table class="table table-striped table-hover">
						  <thead class="thead-light">
							<tr>
							  <th scope="col">#</th>
							  <th scope="col">First Name</th>
							  <th scope="col">Last Name</th>
							  <th scope="col">Twitter Handle</th>
							</tr>
						  </thead>
						  <tbody> 
							{% for performer in showData[0].performers %}
							{% set perfList = performer.split() %}
								<tr>
								  <th scope="row">{{loop.index}}</th>
								  <td>{{perfList[0]}}</td>
								  <td>{{perfList[1]}}</td>
								  <td>@{{perfList[0][0]}}{{perfList[1]}}</td>
								</tr>
							{% endfor %}
						  </tbody>
						</table>
				</div>	
			</div>	
		</div>	
		{% elif showList %}
			<div class="row">
				<div class="panel panel-default">
							<div class="panel-heading"><label>List of shows at the Fringe</label></div>
								<div class="panel-body">
									<div class="list-group">
									  {% for show in showList %}										
											<a href="/show/{{show.url}}" class="list-group-item list-group-item-action">{{show.name}} ({{show.category}})</a>
									  {% endfor %}
								</div>
							</div>	
						</div>
				</div>
		{% endif %}
						
		</div>
{% endblock content %}