	{% extends "base.html" %}
	{% block content %}
		
		<div class="row with-margin" >
			<div class="col-sm-2 tmp">
			
			</div>
			<div class="col-sm-10 tmp">
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading"><label>
						{%if venues %}
						List of Fringe venues
						{% elif categoryList%}
						List of categories at the Fringe
						{% elif showCategoryList %}
						List of Fringe shows in the {{showCategoryList[0].category}} category
						{% elif showList%}
						List of Fringe shows in venue {{showList[0].venue}}
						{% endif %}
						</label></div>
							<div class="panel-body">
								<div class="list-group">
								  {% if venues %}
								
									 {% for venue in venues %}
										<a href="/venue/{{venue}}" class="list-group-item list-group-item-action">Venue {{venue}}</a>
									{% endfor %}
								{% elif showList %}
									 {% for show in showList %}
										<a href="/show/{{show.url}}" class="list-group-item list-group-item-action">{{show.name}} ({{show.category}})</a>
									{% endfor %}
								{% elif categoryList %}
									{% for category in categoryList %}
										<a href="/category/{{category}}" class="list-group-item list-group-item-action">{{category}}</a>
									{% endfor %}								
								{% elif showCategoryList %}
									 {% for cat in showCategoryList %}
										<a href="/show/{{cat.url}}" class="list-group-item list-group-item-action">{{cat.name}}</a>
									{% endfor %}
								{% endif %}
							</div>
						</div>	
					</div>
					
				</div>
			</div>
		</div>

	{% endblock content %}
